* {
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
}
.home {
    width: 100vw;
    height: 100vh;
    background-image: url('/image/hdsoup.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: fixed;
    position: relative;
}
.container1 {
    display: flex;
    border-bottom: 3px solid orangered;
    padding-bottom: 7px;
}
.head span {
    color: orangered;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 40px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 40px;
}

.list ul li {
    display: inline-block;
    margin-top: 20px;
}

.list ul li a{
    margin-left: 45px;
    color: orangered;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
    text-decoration: none;
    transition: 0.5s ease;
}

.list ul li a:hover {
    font-size: 32px;
    border-bottom: 2px solid orangered;
    color: white;
}

.signup a{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: orangered;
    display: inline-block;
    padding: 10px 25px 10px 25px;
    border: 2px solid orangered;
    margin-top: 20px;
    margin-left: 70px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: 0.5s ease-in-out;
}

.signup a:hover {
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: white;
    border-color: white;    
    background: linear-gradient(
        to bottom right,
         transparent,
        orangered 
    );
}



.social {
    margin-left: 55px;
    display: flex;
    width: 300px;
    background-color: 200px 200px;
}

.social a {
    display: inline-block;
    padding: 10px;
    border: 2px solid 0px;
    border-radius: 8px;
}
.social .insta a{
    margin-left: 20px;
    margin-top: 12px;
    color: white;
    font-size: 30px;
    transition-duration: 0.5s;
    
}

.social .insta a:hover {
    background: linear-gradient(
        to right bottom,
        rgb(255, 0, 85),
        rgb(229, 255, 0)
    );
}

.social .face a{
    margin-left: 20px;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 25px;
}

.social .face a:hover {
    background: linear-gradient(
        to right bottom,
        rgb(25, 0, 255),
        rgb(255, 255, 255)
    );
}

.social .twitter a{
    margin-left: 20px;
    margin-top: 15px;
    color: white;
    font-size: 25px;
}

.social .twitter a:hover {
    background-color: white;
    color: rgb(0, 110, 255);
}

.social .whats a {
    margin-left: 20px;
    margin-top: 15px;
    color: white;
    font-size: 30px;
}

.social .whats a:hover {
    color: rgb(52, 253, 2);
    background-color: white;
}

.container2 {
    
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-wrap: wrap;

}

.container2 .box1 {
    width: 250px;
    height: 300px;
    background: linear-gradient(135deg,rgb(255,255,255,0.2),rgb(255,255,255,0));
    backdrop-filter: blur(8px);
    border-radius: 25px;
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    position: relative;
}

.container2 .box1:hover {
    border: 2px solid orangered;
    background: transparent;
}

.container2 .box1 .box1in {
    position: absolute;
}

.container2 .box1 .box1in img{
    margin-top: -5px;
    margin-left: 10px;
    width: 200px;
    height: 200px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.container2 .box1 .box1in img:hover {
    width: 205px;
    height: 205px;
}

.container2 .box1 .box1in .foodname {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 300;
    margin-left: 35px;
    display: inline-block;
    margin-bottom: 3px;
    margin-top:-5px;
}

.container2 .box1 .box1in .price {
    font-size: 20px;
    font-family: "poppins";
    font-weight: 300;
    color: white;
    margin-left: 25px;
}

.container2 .box1 .box1in .rating {
    display: inline-block;
    margin-left: 10px;
}

.container2 .box1 .box1in .rating a{
    color: rgb(238, 255, 0);
    font-size: 20px;
    font-weight: 10;
}

.container2 .box1 .box1in .key {
    display: flex;
    margin-top: 7px;

}
.container2 .box1 .box1in .buy button {
    width: 100px;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
    font-weight: bold;
    font-family: "roboto";
    background:linear-gradient(135deg,rgb(255,255,255,0.1),rgb(255,255,255,0));
    border: 1px solid orangered;
    border-radius: 10px;
    color: orange;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.container2 .box1 .box1in .buy button:hover {
    width: 102px;
    height: 32px;
}



.container2 .box1 .box1in .cart  button{
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    font-family: "roboto";
    background:linear-gradient(135deg,rgb(255,255,255,0.1),rgb(255,255,255,0));
    border: 1px solid orangered;
    border-radius: 10px;
    color: orange;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.container2 .box1 .box1in .cart  button:hover {
    width: 102px;
    height: 32px;
}

.container2 .box2 {
    width: 250px;
    height: 300px;
    background: linear-gradient(135deg,rgb(255,255,255,0.1),rgb(255,255,255,0));
    backdrop-filter: blur(8px);
    border-radius: 25px;
    margin-left: 50px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    position: relative;
}

.container2 .box2:hover {
    border: 2px solid orangered;
    background: transparent;
}

.container2 .box2 .box2in {
    position: absolute;
}

.container2 .box2 .box2in img{
    margin-top: 15px;
    margin-left: 25px;
    width: 190px;
    height: 180px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.container2 .box2 .box2in img:hover {
    width: 195px;
    height: 185px;
}
.container2 .box2 .box2in .foodname {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 300;
    margin-left: 65px;
    display: inline-block;
    margin-bottom: 3px;
    margin-top:-5px;
}

.container2 .box2 .box2in .price {
    font-size: 20px;
    font-family: "poppins";
    font-weight: 300;
    color: white;
    margin-left: 25px;
}

.container2 .box2 .box2in .rating {
    display: inline-block;
    margin-left: 10px;
}

.container2 .box2 .box2in .rating a{
    color: rgb(229, 255, 0);
    font-size: 20px;
    font-weight: 10;
}

.container2 .box2 .box2in .key {
    display: flex;
    margin-top: 7px;

}
.container2 .box2 .box2in .buy button {
    width: 100px;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
    font-weight: bold;
    font-family: "roboto";
    background:linear-gradient(135deg,rgb(255,255,255,0.1),rgb(255,255,255,0));
    border: 1px solid orangered;
    border-radius: 10px;
    color: orange;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.container2 .box2 .box2in .buy button:hover {
    width: 102px;
    height: 32px;
}



.container2 .box2 .box2in .cart  button{
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    font-family: "roboto";
    background:linear-gradient(135deg,rgb(255,255,255,0.1),rgb(255,255,255,0));
    border: 1px solid orangered;
    border-radius: 10px;
    color: orange;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.container2 .box2 .box2in .cart  button:hover {
    width: 102px;
    height: 32px;
}

.container2 .box3 {
    width: 250px;
    height: 300px;
    background: linear-gradient(135deg,rgb(255,255,255,0.1),rgb(255,255,255,0));
    backdrop-filter: blur(8px);
    border-radius: 25px;
    margin-left: 50px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    position: relative;
}

.container2 .box3:hover {
    border: 2px solid orangered;
    background: transparent;
}

.container2 .box3 .box2in {
    position: absolute;
}

.container2 .box3 .box3in img{
    margin-top: 15px;
    margin-left: 25px;
    width: 190px;
    height: 180px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.container2 .box3in .box3in img:hover {
    width: 195px;
    height: 185px;
}
.container2 .box3 .box3in .foodname {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 300;
    margin-left: 85px;
    display: inline-block;
    margin-bottom: 3px;
    margin-top:-5px;
}

.container2 .box3in .price {
    font-size: 20px;
    font-family: "poppins";
    font-weight: 300;
    color: white;
    margin-left: 25px;
}

.container2 .box3 .box3in .rating {
    display: inline-block;
    margin-left: 10px;
}

.container2 .box3in .rating a{
    color: rgb(229, 255, 0);
    font-size: 20px;
    font-weight: 10;
}

.container2 .box3 .box3in .key {
    display: flex;
    margin-top: 7px;

}
.container2 .box3in .key .buy button {
    width: 100px;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
    font-weight: bold;
    font-family: "roboto";
    background:linear-gradient(135deg,rgb(255,255,255,0.1),rgb(255,255,255,0));
    border: 1px solid orangered;
    border-radius: 10px;
    color: orange;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.container2 .box3 .box3in .key .buy button:hover {
    width: 102px;
    height: 32px;
}



.container2 .box3 .box3in .key .cart  button{
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    font-family: "roboto";
    background:linear-gradient(135deg,rgb(255,255,255,0.1),rgb(255,255,255,0));
    border: 1px solid orangered;
    border-radius: 10px;
    color: orange;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.container2 .box3 .box3in .key .cart  button:hover {
    width: 102px;
    height: 32px;
}